cmake-build-debug
.idea
.gitignore
authorized_keys
id_ed25519
id_ed25519.pub
Makefile
node.ini
backlog.md
.vscode/ 
known_hosts
build/

dist/
asgard-cli-venv/
CMakeCache.txt
CMakeFiles/
venv/
Testing/
cmake_install.cmake
libasraft.cbp
packages/
bin/
*.cmd
*.o
*cbp
docs/.buildinfo
*.pyc
!**/__pycache__/

.o.d