docs/_build/
cmake-build-debug-local-linux-container/
cmake-build-debug-local-system/
cmake-build-default/
cmake-build-local/
cmake-build-local-container/
cmake-build-debug-local-linux-container/
.idea/
.tmp_versions/
*.mod.c
*.mod.o
*.o
.cache.mk
*.symvers
*.log
Testing/
CMakeFiles/
*.cmake
__pycache__/
.vscode/
CMakeCache.txt
CMakeLists.txt
hello_world
test_follower
cmake-build-debug/
.idea/*
*.xml
*.cbp
*.cmd