#
# Sassy subsystem configuration
#

menuconfig ASGUARD
	bool "Enable ASGUARD"
	default y
	help
	  This enables the network submodule ASGUARD

config ASGUARD_FOLLOWER_TEST
        bool "Follower test"
        depends on ASGUARD && KUNIT
