Host *
    #disable host key checking: avoid asking for the keyprint authenticity
    StrictHostKeyChecking no
    UserKnownHostsFile /dev/null
    #enable hashing known_host file
    HashKnownHosts yes
    #IdentityFile allows to specify exactly which private key I wish to use for authentification
    IdentityFile /home/dsp/.ssh/id_ed25519

Host tnode1.test
    HostName tnode1.test
    IdentityFile /home/dsp/.ssh/id_ed25519
    User dsp
    Port 2224

Host tnode2.test
    HostName tnode2.test
    IdentityFile /home/dsp/.ssh/id_ed25519
    User dsp
    Port 2225

Host tnode3.test
    HostName tnode3.test
    IdentityFile /home/dsp/.ssh/id_ed25519
    User dsp
    Port 2226

Host workstation.test
    HostName localhost
    IdentityFile /home/dsp/.ssh/id_ed25519
    User dsp
    Port 22

host asgard01
    HostName 10.68.235.140
    User cerebro
host asgard02
    HostName 10.68.235.142
    User dsp
host asgard03
    HostName 10.68.235.150
    User dsp
host asgard04
    HostName 10.68.235.141
    User dsp
